# =========================
# ENV & SECRETS
# =========================
.env
.env.*
*.local

# =========================
# DEPENDENCIES
# =========================
node_modules/

# =========================
# BUILD OUTPUT
# =========================
dist/
build/
coverage/

# =========================
# LOGS
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/
