/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.woff2') format('woff2'),
       url('./assets/font/CentraNo2-Medium.woff2') format('woff2'),
       url('./assets/font/CentraNo2-Book.woff2') format('woff2');
  font-weight: 700, 500, 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media screen and (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar .navbar-brand a {
  text-decoration: none;
}

.fa-terminal {
    color: #fff;
    font-size: 2rem;
    font-family: 'Centra';
    font-weight: 700;
}

nav.navbar a.navbar-brand span {
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Centra';
    font-weight: 700;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 3%;
  padding: 0 15px;
  font-size: 1.2rem;
  opacity: 0.75;
  font-weight: bold;
}

@media screen and (max-width: 390px) {
  .fa-terminal {
    font-size: 1.7rem;
}
  nav.navbar a.navbar-brand span {
      font-size: 2rem;
  }
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 10px;
}
.social-icon a {
    width: 3rem;
    height: 3rem;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin: 5px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  display: inline;
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px 33px;
  margin-left: 18px;
  font-size: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

@media screen and (max-width: 900px) {
  nav.navbar {
    padding: 12px 0;
  }

  nav.navbar .navbar-brand span {
    font-size: 2rem;
  }

  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-size: 1rem;
    padding: 0 10px;
  }

  .social-icon a {
    width: 2.5rem;
    height: 2.5rem;
  }

  .navbar-text button {
    padding: 8px 30px;
    font-size: 17px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  span.navbar-text {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .social-icon a {
    margin: 0 0 0 15px;
  }
}


/************ Banner Css ************/
.banner {
  margin-top: 0px;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/banner-bg.webp');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 10px 15px;
  background: linear-gradient(90.21deg, rgba(131, 54, 170, 0.5) -5.91%, rgba(132, 86, 1, 0.5) 111.58%);
  border-radius: 10px;
  font-size: 1.3rem;
  margin: 50px 0 16px 0;
  display: inline-block;
}

.banner .tagline:hover {
  background: transparent;
}

.banner h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #e3e3e3;
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner a {
  text-decoration: none;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 15px;
}
.banner img {
  animation: updown 3s linear infinite;
  max-width: 90%;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

@media screen and (max-width: 1400px) {
  .banner h1 {
    font-size: 2.3rem;
  }
  .banner p {
    color: #e3e3e3;
    font-size: 1rem;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
}


@media screen and (max-width: 767px) {
  .banner {
    padding: 190px 0 100px 0;
  }

  .banner img {
    max-width: 80%;
    margin-top: 50px;
  }
}

/************ Skills Css ************/
.skill {
  padding: 0 0 50px 0;
  position: relative;
  background: linear-gradient(90.21deg, rgba(131, 54, 170, 0.5) -5.91%, rgba(132, 86, 1, 0.5) 111.58%);
}
.skill-bx {
  background: rgba(21, 21, 21, 0.5);
  border-radius: 64px;
  text-align: center;
  padding: 100px 90px;
  margin: 80px auto;
  max-width: 80%;
}
.skill h2 {
  font-size: 3rem;
  font-weight: 700;
}
.skill p {
    color: #e3e3e3;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}

.skill-section{
  position: relative;
  margin: 30px 0;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;  
  max-width: 90%;
  margin: 0 auto;
}

.single-chart {
  width: 30%;
  justify-content: space-evenly;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 90%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-opacity: 0.3;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.5;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@media screen and (max-width: 991px) {
  .skill-bx {
    padding: 100px 30px;
    max-width: 90%;
  }

  .flex-wrapper {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .skill-bx {
    padding: 100px 15px;
    max-width: 90%;
  }

  .skill p {
    font-size: 1rem;
  }


  .flex-wrapper {
    max-width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .skill p {
    font-size: 0.9rem;
  }

  .flex-wrapper {
  max-width: 90%;
  }
}

@media screen and (max-width: 390px) {
  .skill-bx {
    padding: 50px 10px;
    max-width: 90%;
  }

  .flex-wrapper {
  max-width: 90%;
  }
}


.circular-chart.orange .circle {
  stroke: #f06529;
}

.circular-chart.orange:hover .circle {
  stroke: #ff7700;
}

.circular-chart.a-blue .circle {
  stroke: #2965f1;
}

.circular-chart.a-blue:hover .circle {
  stroke: #0099ff;
}

.circular-chart.r-blue .circle {
  stroke: #41d5fb;
}

.circular-chart.r-blue:hover .circle {
  stroke: #009dff;
}

.circular-chart.s-green .circle {
  stroke: #6bb016;
}

.circular-chart.s-green:hover .circle {
  stroke: #8cff00;
}

.circular-chart.p-yellow .circle {
  stroke: #FFD43B;
}

.circular-chart.p-yellow:hover .circle {
  stroke: #ffbf00;
}

.circular-chart.s-blue .circle {
  stroke: #005e89;
}

.circular-chart.s-blue:hover .circle {
  stroke: #01a8ce;
}

.percentage {
  fill: #8b8b8b;
  font-family: sans-serif;
  font-size: 1.15em;
  text-anchor: middle;
}

.percentage:hover {
  fill: #a8a8a8;
  cursor: pointer;
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  background-color: #1e1e1e;
}

.project h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  max-width: 80%;
}
.project .nav.nav-pills {
  max-width: 90%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(50, 50, 50);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 50%;
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.5s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #842a60 -5.91%, #ad5f01 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(172, 172, 172, 0.5);
}
.nav-link#projects-tabs-tab-first {
  border: none;
}
.nav-link#projects-tabs-tab-first:hover, .nav-link#projects-tabs-tab-second:hover {
  background-color: #ad5f01;
  color: #ffffff;
}
.nav-link#projects-tabs-tab-second {
  border-left: 1px solid rgba(172, 172, 172, 0.5);
  border-right: 1px solid rgba(172, 172, 172, 0.5);
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  border: 5px solid rgba(255, 195, 238, 0.3);
}

.proj-imgbx:hover {
  border: 5px solid rgb(136, 136, 136);
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #842a60 -5.91%, #ad5f01 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-title {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 15px;
  color: rgb(210, 209, 209)
}

.proj-txtx span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 30px;
}

.proj-txtx a {
  text-decoration: none;
  color: #f6f6f6;
  font-size: 1.1rem;
  font-weight: 700;
  background: linear-gradient(90.21deg, #fb4a04 -5.91%, #fb8a00 111.58%);
  padding: 13px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.proj-txtx a:hover {
  color: #6a2e00;
  background: #fefefe;
  transition: 0.3s ease-in-out;
}

.carousel-item img {
  max-height: 90vh;
  max-width: 90vw;
  margin: 0 auto;
}

.modal-content {
  max-width: 95vw;
  max-height: 95vh;
  margin: auto;
}

.modal-body {
  padding: 50px;
}

.modal-header .close {
  position: absolute;
  right: 50px;
  top: 50px;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

/************ Back to Top ************/
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 15px;
  background-color: #fff;
  color: #000000;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease;
}

.back-to-top:hover {
  background-color: #874400;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  
  .proj-title {
    font-size: 1.1rem;
  }

    /* Disable hover-only behavior */
  .proj-imgbx::before {
    height: 100%;
    opacity: 0.5;
  }

  /* Force overlay content visible */
  .proj-txtx {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  /* Optional: reduce text spacing for smaller screens */
  .proj-txtx span {
    font-size: 1.05rem;
    margin-bottom: 20px;
    padding: 0 15px 0 15px;
  }

  /* Make button more tappable */
  .proj-txtx a {
    padding: 14px 18px;
    font-size: 1.05rem;
  }

  /* Remove hover border dependency */
  .proj-imgbx:hover {
    border: 5px solid rgba(255, 195, 238, 0.3);
  }
}

@media screen and (max-width: 768px) {

  .proj-txtx span {
    font-size: 0.7rem;
    padding: 0 15px 0 15px;;
  }
  
  .proj-txtx a {
    font-size: 0.7rem;
    margin: 10px;
  }

  .project p {
    font-size: 1rem;
  }
  
  .project .nav.nav-pills .nav-link {
    font-size: 0.9rem;
  }

  .skill h2,
  .project h2,
  .contact h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 575px) {
  .proj-txtx h4 {
    font-size: 1.1rem;
    padding: 10px;
  }
  .proj-txtx span {
    font-size: 1.1rem;
    padding: 0;
  }
  
  .proj-txtx a {
    font-size: 1.1rem;
  }

  .project p {
    font-size: 0.9rem;  
  }

  .project .nav.nav-pills .nav-link {
    font-size: 0.65rem;
  }

  #projects-tabs-tabpane-first > div > div {
    padding: 20px;
  }

}

@media screen and (max-width: 500px) {
  .proj-txtx h4 {
    font-size: 1.1rem;
    padding: 10px;
  }
  .proj-txtx span {
    font-size: 1.1rem;
    padding: 0;
  }
  
  .proj-txtx a {
    font-size: 1.1rem;
  }

  .project p {
    font-size: 0.9rem;  
  }

  .project .nav.nav-pills .nav-link {
    font-size: 0.65rem;
  }

  #projects-tabs-tabpane-first > div > div {
    padding: 20px;
  }
}

@media screen and (max-width: 350px) {
  .proj-txtx h4 {
    font-size: 0.9rem;
    padding: 10px;
  }
  .proj-txtx span {
    font-size: 0.9rem;
    padding: 0;
  }
  
  .proj-txtx a {
    font-size: 0.9rem;
  }

  #projects-tabs-tabpane-first > div > div {
    padding: 30px;
  }
}

/************ Contacts CSS ************/
.contact {
  background: linear-gradient(180deg, #3a3a3a -5.91%, #212121 111.58%);
  padding: 60px 0 200px 0;
}
.contact img {
  width: 90%;
}
.contact h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 30px 10px;
}

.contact form {
  max-width: 90%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: none;
  background: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  font-size: 1rem;
}

.contact form input:focus,
.contact form textarea:focus {
  outline: none;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  border: none;
  background: #ffd901;
  color: #000;
  padding: 10px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.contact form button:hover {
  background: #f4c20d;
}

@media screen and (max-width: 768px) {
  .contact form button {
    width: 100%;
  }

  .contact img {
    margin-bottom: 30px;
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .contact h2 {
    font-size: 2rem;
  }

  .contact form button {
    font-size: 1rem;
  }
}

/************ Footer Css ************/

.footer {
  padding: 30px 0;
  background-image: url('./assets/img/footer-img.webp');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer--project {
  padding: 10px 0;
  background: linear-gradient(
    180deg,
    #202020 0%,
    #202020 100%
  );
}

.footer img {
  max-width: 80%;
}

.footer .social-icon {
  margin-top: 20px;
}

.footer p {
  font-weight: 400;
  font-size: 1rem;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.footer .navbar-brand {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  margin-top: 20px;
}

.footer .navbar-brand a {
  text-decoration: none;
}

.footer .fa-terminal {
    color: #fff;
    font-size: 2rem;
    font-family: 'Centra';
    font-weight: 700;
    margin-top: 70px;
}

.footer .navbar-brand span {
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Centra';
  font-weight: 700;
}

.footer .footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.footer .footer-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.3rem;
  font-weight: 700;
}

.footer .footer-links a:last-child {
  margin-right: 0;
}

.footer .footer-links a:hover {
  color: #ffd901;
}

@media screen and (max-width: 576px) {
  .footer .navbar-brand {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .fa-terminal,
  .footer .navbar-brand span {
    display: inline-block;
  }

  .footer .social-icon {
    text-align: center;
    margin: 20px 0 30px 0;
  }

  .footer .footer-links,
  .footer .social-icon {
    margin-top: 20px;
  }
}


/************ Additional pages ************/

/************ JPM Pipeline ****************/

:root {
  --navbar-height: 95px;
}

/* =========================
   OVERVIEW LAYOUT
========================= */

.overview-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(80vh - var(--navbar-height));
  padding-top: var(--navbar-height);
}

/* =========================
   LEFT PANEL
========================= */

.overview-left {
  position: relative;
  background-image: url("assets/img/code-screenshot-JPM.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.overview-title {
  position: relative;
  z-index: 3;
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  text-align: left;
  pointer-events: none;
}

/* LEFT spotlight */
.dark-overlay {
  position: absolute;
  inset: 0;
  background: rgba(20, 20, 20, 0.9);
  pointer-events: none;
}

.dark-overlay.active {
  mask-image: radial-gradient(
    circle 160px at var(--x) var(--y),
    transparent 0%,
    transparent 35%,
    black 100%
  );

  -webkit-mask-image: radial-gradient(
    circle 160px at var(--x) var(--y),
    transparent 0%,
    transparent 35%,
    black 100%
  );
}

/* =========================
   RIGHT PANEL
========================= */

.overview-right {
  position: relative;
  padding: 80px 60px;
  color: #fafafa;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.overview-right::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #e7e7e7;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.overview-right:hover::before {
  transform: scale(1);
}

.overview-right:hover {
  color: #000000;
}

.overview-right > * {
  position: relative;
  z-index: 1;
}

/* NORMAL CONTENT */
.overview-content {
  position: relative;
  z-index: 1;
}

.overview-content h2 {
  margin-left: 15px;
}


/************ Back to Top ************/
.view-project-btn {
  background-color: #d36200;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin-left: 15px;
  cursor: pointer;
  z-index: 999;
  transition: all 0.3s ease;
}

.view-project-btn:hover {
  background-color: #000000;
  color: #fff;
}

/* =========================
   CARDS
========================= */

.overview-card {
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.6;
  padding: 16px;
  margin-bottom: 30px;
  text-align: left;
}

/* =========================
   ARCHITECTURE SECTION
========================= */

.architecture-section {
  padding: 100px 0;
  background: linear-gradient(
    180deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(46, 46, 46, 1) 100%
  );
  overflow: hidden;
}

/* =========================
   HEADINGS
========================= */

.architecture-section .heading-p {
  font-size: 7rem;
  text-align: right;
  color: #424242;
  text-transform: uppercase;
  margin: 0 30px -50px 0;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
}

.architecture-section .heading-p:nth-child(1) {
  margin-top: -100px;
}

.architecture-section .heading-p:nth-child(2) {
  margin-bottom: 50px;
}

.architecture-section:hover .heading-p {
  color: #bebebe;
}

/* =========================
   CANVAS (FLEXIBLE)
========================= */

.architecture-canvas {
  position: relative;
  width: 100%;
  max-width: 1800px;
  aspect-ratio: 1800 / 520;
  margin: 0 auto;
  transform-origin: top center;
}

.architecture-canvas {
  transform: scale(0.8);
}

@media screen and (max-width: 1650px) {
  .architecture-section {
    display: none;
  }
}

/* ======================
   MODULE BASE
====================== */

.module {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* ======================
   MODULE POSITIONS
====================== */

.raw-data {
  width: 160px;
  height: 300px;
  left: 0;
  top: 110px;
  background-image: url("/public/assets/architecture/folder.svg");
}

.spark-etl {
  width: 220px;
  height: 300px;
  left: 230px;
  top: 110px;
  background-image: url("/public/assets/architecture/sparkETL.svg");
}

.bronze-layer {
  width: 320px;
  height: 500px;
  left: 480px;
  top: 10px;
  background-image: url("/public/assets/architecture/bronze.svg");
}

.silver-layer {
  width: 320px;
  height: 500px;
  left: 800px;
  top: 10px;
  background-image: url("/public/assets/architecture/silver.svg");
}

.gold-layer {
  width: 320px;
  height: 500px;
  left: 1120px;
  top: 10px;
  background-image: url("/public/assets/architecture/gold.svg");
}

.pandas-layer {
  width: 220px;
  height: 300px;
  left: 1500px;
  top: -30px;
  background-image: url("/public/assets/architecture/pd-mtl.svg");
}

.chart-output {
  width: 220px;
  height: 300px;
  left: 1500px;
  top: 250px;
  background-image: url("/public/assets/architecture/chart.svg");
}

/* ======================
   ARROWS
====================== */

.architecture-arrows {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.architecture-arrows line {
  stroke: #8a909aff;
  stroke-width: 3.5;
  transition: stroke-width 0.25s ease, opacity 0.25s ease;
}

/* ====================================
   ARCHITECTURE SECTION SCALING EFFECTs
==================================== */

.raw-data,
.spark-etl,
.bronze-layer,
.silver-layer,
.gold-layer,
.pandas-layer,
.chart-output {
  transition: 0.3s ease-in-out;
}

.raw-data:hover,
.spark-etl:hover,
.bronze-layer:hover,
.silver-layer:hover,
.gold-layer:hover,
.pandas-layer:hover,
.chart-output:hover {
  scale: 1.1;
  transition: 0.3s ease-in-out;
}

.raw-data:hover ~ .architecture-arrows .raw-spark {
  stroke-width: 2.5;
  transition: stroke-width 0.25s ease, opacity 0.25s ease;
}

.spark-etl:hover ~ .architecture-arrows .spark-bronze {
  stroke-width: 2.5;
  transition: stroke-width 0.25s ease, opacity 0.25s ease;
}

.bronze-layer:hover ~ .architecture-arrows .bronze-silver {
  stroke-width: 2.5;
  transition: stroke-width 0.25s ease, opacity 0.25s ease;
}

.silver-layer:hover ~ .architecture-arrows .silver-gold {
  stroke-width: 2.5;
  transition: stroke-width 0.25s ease, opacity 0.25s ease;
}

.gold-layer:hover ~ .architecture-arrows .gold-pandas {
  stroke-width: 2.5;
  transition: stroke-width 0.25s ease, opacity 0.25s ease;
}

.pandas-layer:hover ~ .architecture-arrows .pandas-chart {
  stroke-width: 2.5;
  transition: stroke-width 0.25s ease, opacity 0.25s ease;
}

/* =========================
   SECTION LAYOUT
========================= */

.spark-section {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  min-height: 100vh;
  padding: 80px 80px 0 80px;
  gap: 80px;
  background: linear-gradient(
    180deg,
    #2e2e2e 0%,
    #353535 35%,
    #3a3a3a 55%,
    #202020 90%
  );
}


/* =========================
ROW CONTENT
========================= */

.spark-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  position: relative;
  transition: 0.7s ease-in-out;
}

.spark-content:hover:nth-child(1),
.spark-content:hover:nth-child(2),
.spark-content:hover:nth-child(3) {
  scale: 1.01;
  transition: 0.3s ease-in-out;
}

.spark-text {
  grid-column: 1;
  max-width: 720px;
}

/* =========================
   GHOST HEADINGS
========================= */

.spark-ghost {
  grid-column: 2;
  text-align: right;
  pointer-events: none;
}

.spark-ghost h2 {
  font-size: 7rem;
  line-height: 0.95;
  margin: 0;
  color: #505050;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.spark-ghost h2:nth-child(1) {
  margin-bottom: 15px;
}

.spark-content:hover:nth-child(1) h2,
.spark-content:hover:nth-child(2) h2,
.spark-content:hover:nth-child(3) h2 {
  color: #bebebe;
  transition: 0.3s ease-in-out;
}

.spark-ghost h2 + h2 {
  margin-top: -20px;
}

/* =========================
   TEXT STYLES
========================= */

.spark-card {
  font-size: 1.2rem;
  color: #f0f0f0;
}

/* =========================
   LIST WITH ARROWS
========================= */

.spark-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.spark-list li {
  position: relative;
  margin-left: 28px;
  margin-bottom: 10px;
  text-indent: 30px;
}

.spark-list li::before {
  content: "→";
  position: absolute;
  left: -28px;
  color: #9a9a9a;
}

/* =========================
   DIVIDER
========================= */

.spark-content hr {
  grid-column: 1 / -1;
  border: none;
  height: 30px;
  background: linear-gradient(
    90deg,
    transparent,
    #676767,
    transparent
  )
}

@media screen and (max-width: 1710px) {
.spark-ghost h2 {
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 15px;
  }

.spark-card {
    font-size: 1.1rem;
  }

.spark-section {
    gap: 40px;
  }
}

/* ------------------------
YOY LOGIC
======================== */

/* =========================
   SECTION LAYOUT
========================= */

.yoy-section {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  min-height: 100vh;
  padding: 50px 80px 0 80px;
  gap: 80px;
  background: linear-gradient(
    180deg,
    #202020 0%,
    #353535 35%,
    #3a3a3a 55%,
    #202020 100%
  );
}

/* =========================
ROW CONTENT
========================= */

.yoy-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  position: relative;
  transition: 0.7s ease-in-out;
}

.yoy-content:hover:nth-child(1),
.yoy-content:hover:nth-child(2),
.yoy-content:hover:nth-child(3) {
  scale: 1.01;
  transition: 0.3s ease-in-out;
}

.yoy-text {
  grid-column: 2;
  max-width: 720px;
  justify-self: end;
  margin-bottom: 50px;
}

/* =========================
   GHOST HEADINGS
========================= */

.yoy-ghost {
  grid-column: 1;
  text-align: left;
  pointer-events: none;
}

.yoy-ghost h2 {
  font-size: 7rem;
  line-height: 0.95;
  margin: 0;
  color: #505050;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.yoy-ghost h2:nth-child(1) {
  margin-bottom: 15px;
}

.yoy-content:hover:nth-child(1) h2,
.yoy-content:hover:nth-child(2) h2,
.yoy-content:hover:nth-child(3) h2 {
  color: #bebebe;
  transition: 0.3s ease-in-out;
}

.yoy-ghost h2 + h2 {
  margin-top: -20px;
}

/* =========================
   TEXT STYLES
========================= */

.yoy-card {
  font-size: 1.2rem;
  color: #f0f0f0;
}

/* =========================
   LIST WITH ARROWS
========================= */

.yoy-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.yoy-list li {
  position: relative;
  margin-left: 28px;
  margin-bottom: 10px;
  text-indent: 30px;
}

.yoy-list li::before {
  content: "→";
  position: absolute;
  left: -28px;
  color: #9a9a9a;
}

/* =========================
   DIVIDER
========================= */

.yoy-content hr {
  grid-column: 1 / -1;
  border: none;
  height: 30px;
  background: linear-gradient(
    90deg,
    transparent,
    #676767,
    transparent
  )
}

/* ========================
    ANALYSIS SECTION
======================== */
.analysis-section {
  display: grid;
  min-height: 100vh;
  padding: 0 90px 0 90px;
  background: linear-gradient(
    180deg,
    #202020 0%,
    #353535 35%,
    #3a3a3a 55%,
    #202020 100%
  );
}

.analysis-section:hover .analysis-card-title h2 {
  color: #bebebe;
  transition: 0.3s ease-in-out;
}

.analysis-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 80px;
}


.analysis-content hr {
  grid-column: 1 / -1;
  border: none;
  height: 30px;
  margin-top: 100px;
  background: linear-gradient(
    90deg,
    transparent,
    #676767,
    transparent
  )
}

.analysis-card {
  font-size: 1.2rem;
  max-width: 730px;
}

.analysis-card-title h2 {
  font-size: 7rem;
  line-height: 0.95;
  margin: 0;
  color: #505050;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  justify-self: end;
}

.analysis-explanation-table {
  font-size: 1.2rem;
  max-width: 730px;
  justify-self: end;
}

.analysis-table-img {
  filter: grayscale(100%);
  max-width: 100%;
  transition: 0.3s ease-in-out;
}

.analysis-table-img:hover {
  filter: grayscale(0%);
  scale: 1.05;
  transition: 0.5s ease-in-out;
}

@keyframes animate{
  0%,100%{
    left:0px;
  }
  
  50%{
    left:calc(100% - 300px);
  }
}

.analysis-chart-img {
  position: relative;
  display: block;
  width: 90%;
  transition: 0.5s ease-in-out;
  border: none;
  border-radius: 30px;
}

.analysis-chart-img:hover {
  scale: 1.05;
  transition: 0.3s ease-in-out;
  box-shadow:
  0 0 0 1px rgba(252, 139, 0, 0.1),
  0 5px 30px rgba(255, 128, 0, 0.4);
  border: none;
  border-radius: 60px;
}

.analysis-explanation-chart {
  justify-self: start;
  max-width: 730px;
}

.analysis-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.analysis-list li {
  position: relative;
  margin-left: 28px;
  margin-bottom: 10px;
  text-indent: 30px;
}

.analysis-list li::before {
    content: "→";
    position: absolute;
    left: -28px;
    color: #9a9a9a;
}


@media screen and (max-width: 1710px) {
.yoy-ghost h2 {
    font-size: 5rem;
    line-height: 0.9;
    margin-bottom: 15px;
  }
  
  .analysis-ghost h2 {
      font-size: 5.5rem;
      line-height: 0.9;
      margin-bottom: 15px;
    }

  .analysis-table-img {
    transform: scale(0.8);
  }

  .analysis-card {
    font-size: 1.1rem;
  }

  .analysis-chart-img {
    transform: scale(0.8);
  }
}

/* ========================
    ANALYSIS TAKEAWAY
======================== */

.takeaway-section {
  display: grid;

  background: linear-gradient(
    180deg,
    #202020 0%,
    #353535 35%,
    #353535 55%,
    #202020 100%
  );
}

.takeaway-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 90px 0 90px;
  margin-top: 80px;
}

.takeaway-content hr {
  grid-column: 1 / -1;
  border: none;
  height: 30px;
  margin-top: 100px;
  background: linear-gradient(
    90deg,
    transparent,
    #676767,
    transparent
  )
}

.takeaway-card {
  font-size: 1.2rem;
  max-width: 730px;
  justify-self: end;
}

.takeaway-card-title h2 {
  font-size: 7rem;
  line-height: 0.95;
  margin: 0;
  color: #505050;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.takeaway-section:hover h2 {
  color: #bebebe;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1710px) {
  .takeaway-ghost h2 {
      font-size: 5.5rem;
      line-height: 0.9;
      margin-bottom: 15px;
    }
  
  .takeaway-card {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1600px) {
  .takeaway-ghost h2 {
      font-size: 5.5rem;
      line-height: 0.9;
      margin-bottom: 15px;
    }
  
  .takeaway-card {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1300px) {

  .overview-section {
    display: block;
    padding: 150px 30px 30px 30px;
  }

  .overview-title {
    text-align: center;
  }
  /* Kill all complex grids */
  .spark-section,
  .yoy-section,
  .analysis-section,
  .takeaway-section {
    display: block;
    padding: 30px 30px;
  }

  .yoy-section {
    padding-bottom: 0;
    padding-top: 0;
  }

  /* Rows become normal blocks */
  .spark-content,
  .yoy-content,
  .analysis-content,
  .takeaway-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .analysis-content,
  .takeaway-content {
    margin-top: 0;
  }

  .spark-content {
    margin-bottom: 30px;
  }

  .analysis-ghost {
    order: -1;
    text-align: center;
    margin-bottom: 25px;
  }

  .analysis-text {
    order: 1;
    text-align: center;
  }
  
  .spark-list li, 
  .yoy-list li,
  .analysis-list li {
    margin-left: 0;
    color: rgb(255, 129, 2);
    text-indent: 0;
  } 

  .spark-list li::before, 
  .yoy-list li::before,
  .analysis-list li::before {
    content: "";
    left: 0;
  } 

  .spark-text,
  .yoy-text,
  .analysis-card,
  .analysis-explanation,
  .analysis-explanation-chart,
  .takeaway-card {
    margin-left: auto;
    margin-right: auto;
    justify-self: unset;
    grid-column: unset;
    text-align: center;
  }

  .spark-ghost {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
  }

  /* Text containers */
  .spark-text,
  .yoy-text,
  .analysis-explanation,
  .analysis-explanation-chart,
  .takeaway-card {
    order: 1;
    text-align: center;
  }

  /* Images centered & fluid */
  .analysis-table-img,
  .analysis-chart-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
  }

  h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    white-space: normal;
    word-break: break-word;
  }

  .overview-content 
  .overview-card, 
  .overview-btn-wrapper {
    justify-self: center;
    text-align: center;
  }

  .overview-content h2 {
    margin-left: 0;
  }
  p,
  .spark-card,
  .yoy-card,
  .analysis-card {
    font-size: 1.05rem;
    line-height: 1.7;
  }

  .spark-content hr,
  .yoy-content hr,
  .analysis-content hr,
  .takeaway-content hr {
    display: none;
  }

  .analysis-table-img {
    filter: grayscale(0%);
  }
}

@media screen and (max-width: 1024px) {

  /* =========================
     GLOBAL GRID STACKING
  ========================= */

  .overview-section,
  .spark-section,
  .yoy-section,
  .analysis-section,
  .takeaway-section {
    min-height: auto;
  }

  .spark-content,
  .yoy-content,
  .analysis-content,
  .takeaway-content {
    grid-template-columns: 1fr;
    gap: 15px;
    align-items: center;
  }

  .spark-content {
    margin-bottom: 0;
  }

  .analysis-section {
    padding-bottom: 5px;
  }

  .takeaway-section {
    padding-top: 5px;
  }

  /* =========================
     HEADING FIRST (ORDER)
  ========================= */

  .spark-ghost,
  .yoy-ghost,
  .analysis-card-title,
  .takeaway-card-title {
    order: -1;
    text-align: center;
    justify-self: center;
  }

  /* =========================
     HEADING SIZE REDUCTION
  ========================= */

  .spark-ghost h2,
  .yoy-ghost h2,
  .analysis-card-title h2,
  .takeaway-card-title h2 {
    font-size: 3.4rem;
    line-height: 1.1;
    margin-bottom: 15px;
  }

  /* =========================
     TEXT BLOCKS
  ========================= */

  .spark-text,
  .yoy-text,
  .analysis-card,
  .analysis-explanation-table,
  .analysis-explanation-chart,
  .takeaway-card {
    max-width: 100%;
    justify-self: start;
    margin-bottom: 24px;
  }

  .spark-card,
  .yoy-card,
  .analysis-card,
  .analysis-explanation-table,
  .analysis-explanation-chart,
  .takeaway-card {
    font-size: 1.05rem;
    line-height: 1.6;
  }

  /* =========================
     OVERVIEW SECTION
  ========================= */

  .overview-section {
    grid-template-columns: 1fr;
    padding-top: var(--navbar-height);
  }

  .overview-left {
    min-height: 40vh;
  }

  .overview-title {
    font-size: 2rem;
    padding: 0 16px;
  }

  .overview-right {
    padding: 30px 30px;
  }

  /* =========================
     ARCHITECTURE SECTION
  ========================= */

  .architecture-section {
    padding: 60px 0;
    overflow-x: hidden;
  }

  .architecture-section .heading-p {
    font-size: 3rem;
    text-align: left;
    margin: 0 16px 20px 16px;
  }

  .architecture-canvas {
    transform: scale(0.7);
    transform-origin: top left;
    width: 100%;
    height: auto;
  }

  /* =========================
     ANALYSIS IMAGES
  ========================= */

  .analysis-table-img,
  .analysis-chart-img {
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
  }

  .analysis-chart-img:hover {
    border-radius: 30px;
}

  .analysis-section {
    padding: 40px 24px;
  }

  .analysis-card-title {
    margin-bottom: 0;
   }

  .analysis-card-title h2 {
    justify-self: center;
    line-height: 0.9;
    margin-bottom: 5px;
   }
  
  .analysis-content {
    margin-top: 0;
  }

  /* =========================
     TAKEAWAY SECTION
  ========================= */

  .takeaway-content {
    padding: 0 24px;
  }

  /* =========================
     DIVIDERS
  ========================= */

  .spark-content hr,
  .yoy-content hr,
  .analysis-content hr,
  .takeaway-content hr {
    margin-top: 40px;
    height: 20px;
  }
}

@media screen and (max-width: 550px) {
  .spark-ghost h2,
  .yoy-ghost h2,
  .analysis-card-title h2,
  .takeaway-card-title h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 400px) {
  .spark-ghost h2,
  .yoy-ghost h2,
  .analysis-card-title h2,
  .takeaway-card-title h2 {
    font-size: 2.3rem;
    line-height: 1.1;
    margin-bottom: 15px;
  }
}


/************ Streaming Pipeline ************/

.overview-left-stream {
  position: relative;
  background-image: url("assets/img/streaming-pipeline-code.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* =========================
   ARCHITECTURE SECTION
========================= */

.architecture-section {
  padding: 100px 0;
  background: linear-gradient(
    180deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(46, 46, 46, 1) 100%
  );
  overflow: hidden;
}

/* =========================
   HEADINGS
========================= */

.architecture-section .heading-p-stream {
  font-size: 7rem;
  text-align: right;
  color: #424242;
  text-transform: uppercase;
  margin: 0 30px -50px 0;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
}

.architecture-section .heading-p-stream:nth-child(1) {
  margin-top: -100px;
}

.architecture-section .heading-p-stream:nth-child(2) {
  margin-bottom: 50px;
}

.architecture-section:hover .heading-p-stream {
  color: #bebebe;
}

/* =========================
   CANVAS (FLEXIBLE)
========================= */

.architecture-canvas-stream {
  position: relative;
  width: 100%;
  max-width: 1800px;
  aspect-ratio: 1800 / 520;
  margin: 0 auto;
  transform-origin: top center;
}

.architecture-canvas-stream {
  transform: scale(0.8);
}

@media screen and (max-width: 1650px) {
  .architecture-section {
    display: none;
  }
}

/* ======================
   MODULE BASE
====================== */

.module {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* ======================
   MODULE POSITIONS
====================== */

.raw-data-stream {
  width: 160px;
  height: 300px;
  left: 0;
  top: 110px;
  background-image: url("/public/assets/architecture2/streaming-bolt.svg");
}

.spark-etl-stream {
  width: 220px;
  height: 300px;
  left: 230px;
  top: 110px;
  background-image: url("/public/assets/architecture2/spark-stream.svg");
}

.bronze-layer-stream {
  width: 320px;
  height: 500px;
  left: 480px;
  top: 10px;
  background-image: url("/public/assets/architecture2/bronze-stream.svg");
}

.silver-layer-stream {
  width: 320px;
  height: 500px;
  left: 800px;
  top: 10px;
  background-image: url("/public/assets/architecture2/silver-stream.svg");
}

.gold-layer-stream {
  width: 320px;
  height: 500px;
  left: 1120px;
  top: 10px;
  background-image: url("/public/assets/architecture2/gold-stream.svg");
}

.pandas-layer-stream {
  width: 220px;
  height: 300px;
  left: 1480px;
  top: 105px;
  background-image: url("/public/assets/architecture2/stream-analytics.svg");
}

/* ======================
   ARROWS
====================== */

.architecture-arrows-stream {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.architecture-arrows-stream line {
  stroke: #8a909aff;
  stroke-width: 3.5;
  transition: stroke-width 0.25s ease, opacity 0.25s ease;
}

/* ====================================
   ARCHITECTURE SECTION SCALING EFFECTs
==================================== */

.raw-data-stream,
.spark-etl-stream,
.bronze-layer-stream,
.silver-layer-stream,
.gold-layer-stream,
.pandas-layer-stream {
  transition: 0.3s ease-in-out;
}

.raw-data-stream:hover,
.spark-etl-stream:hover,
.bronze-layer-stream:hover,
.silver-layer-stream:hover,
.gold-layer-stream:hover,
.pandas-layer-stream:hover {
  scale: 1.1;
  transition: 0.3s ease-in-out;
}

.raw-data-stream:hover ~ .architecture-arrows-stream .raw-spark-stream {
  stroke-width: 2.5;
  transition: stroke-width 0.25s ease, opacity 0.25s ease;
}

.spark-etl-stream:hover ~ .architecture-arrows-stream .spark-bronze-stream {
  stroke-width: 2.5;
  transition: stroke-width 0.25s ease, opacity 0.25s ease;
}

.bronze-layer-stream:hover ~ .architecture-arrows-stream .bronze-silver-stream {
  stroke-width: 2.5;
  transition: stroke-width 0.25s ease, opacity 0.25s ease;
}

.silver-layer-stream:hover ~ .architecture-arrows-stream .silver-gold-stream {
  stroke-width: 2.5;
  transition: stroke-width 0.25s ease, opacity 0.25s ease;
}

.gold-layer-stream:hover ~ .architecture-arrows-stream .gold-pandas-stream {
  stroke-width: 2.5;
  transition: stroke-width 0.25s ease, opacity 0.25s ease;
}

.architecture-description-wrapper p {
  font-size: 1.3rem;
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
}

/* =========================
  SPARK SECTION LAYOUT
========================= */

.spark-section-stream {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  min-height: 100vh;
  padding: 80px 80px 0 80px;
  gap: 80px;
  background: linear-gradient(
    180deg,
    #2e2e2e 0%,
    #353535 35%,
    #3a3a3a 55%,
    #202020 90%
  );
}


/* =========================
ROW CONTENT
========================= */

.spark-content-stream {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  position: relative;
  transition: 0.7s ease-in-out;
}

.spark-content-stream:hover:nth-child(1),
.spark-content-stream:hover:nth-child(2),
.spark-content-stream:hover:nth-child(3) {
  scale: 1.01;
  transition: 0.3s ease-in-out;
}

.spark-text-stream {
  grid-column: 1;
  max-width: 720px;
}

/* =========================
   GHOST HEADINGS
========================= */

.spark-ghost-stream {
  grid-column: 2;
  text-align: right;
  pointer-events: none;
}

.spark-ghost-stream h2 {
  font-size: 7rem;
  line-height: 0.95;
  margin: 0;
  color: #505050;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.spark-ghost-stream h2:nth-child(1) {
  margin-bottom: 15px;
}

.spark-content-stream:hover:nth-child(1) h2 {
  color: #cd7f32;
  transition: 0.3s ease-in-out;
}

.spark-content-stream:hover:nth-child(2) h2 {
  color: #c4c4c4;
  transition: 0.3s ease-in-out;
}

.spark-content-stream:hover:nth-child(3) h2 {
  color: #a57c00;
  transition: 0.3s ease-in-out;
}

.spark-ghost-stream h2 + h2 {
  margin-top: -20px;
}

/* =========================
   TEXT STYLES
========================= */

.spark-card-stream {
  font-size: 1.2rem;
  color: #f0f0f0;
}

/* =========================
   DIVIDER
========================= */

.spark-content-stream hr {
  grid-column: 1 / -1;
  border: none;
  height: 30px;
  background: linear-gradient(
    90deg,
    transparent,
    #676767,
    transparent
  )
}

@media screen and (max-width: 1710px) {
.spark-ghost-stream h2 {
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 15px;
  }

.spark-card-stream {
    font-size: 1.1rem;
  }

.spark-section-stream {
    gap: 40px;
  }
}

/* ========================
    ANALYSIS SECTION
======================== */
.analysis-section-stream {
  display: grid;
  min-height: 100vh;
  padding: 0 90px 0 90px;
  background: linear-gradient(
    180deg,
    #202020 0%,
    #353535 35%,
    #3a3a3a 55%,
    #202020 100%
  );
}

.analysis-section-stream:hover .analysis-card-title-stream h2 {
  color: #bebebe;
  transition: 0.3s ease-in-out;
}

.analysis-content-stream {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 80px;
}


.analysis-content-stream hr {
  grid-column: 1 / -1;
  border: none;
  height: 30px;
  margin-top: 100px;
  justify-self: stretch;
  background: linear-gradient(
    90deg,
    transparent,
    #676767,
    transparent
  )
}

.analysis-card-stream {
  font-size: 1.2rem;
  max-width: 730px;
}

.analysis-card-title-stream h2 {
  font-size: 7rem;
  line-height: 0.95;  
  margin: 0;
  color: #505050;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  justify-self: end;
}

.analysis-explanation-table-stream {
  font-size: 1.2rem;
  max-width: 730px;
  justify-self: end;
}

.analysis-table-img-stream {
  filter: grayscale(100%);
  max-width: 100%;
  transition: 0.3s ease-in-out;
}

.analysis-table-img-stream:hover {
  filter: grayscale(0%);
  scale: 1.05;
  transition: 0.5s ease-in-out;
}

@keyframes animate{
  0%,100%{
    left:0px;
  }
  
  50%{
    left:calc(100% - 300px);
  }
}

.analysis-chart-img-stream {
  position: relative;
  display: block;
  width: 90%;
  transition: 0.5s ease-in-out;
  border: none;
  border-radius: 30px;
}

.analysis-chart-img-stream:hover {
  scale: 1.05;
  transition: 0.3s ease-in-out;
  box-shadow:
  0 0 0 1px rgba(252, 139, 0, 0.1),
  0 5px 30px rgba(255, 128, 0, 0.4);
  border: none;
  border-radius: 60px;
}

.analysis-explanation-chart-stream {
  justify-self: start;
  max-width: 730px;
}

.analysis-list-stream {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.analysis-list-stream li {
  position: relative;
  margin-left: 28px;
  margin-bottom: 10px;
  text-indent: 30px;
}

.analysis-list-stream li::before {
    content: "→";
    position: absolute;
    left: -28px;
    color: #9a9a9a;
}


@media screen and (max-width: 1710px) {
  
  .analysis-ghost-stream h2 {
      font-size: 5.5rem;
      line-height: 0.9;
      margin-bottom: 15px;
    }

  .analysis-table-img-stream {
    transform: scale(0.8);
  }

  .analysis-card-stream {
    font-size: 1.1rem;
  }

  .analysis-chart-img-stream {
    transform: scale(0.8);
  }
}

/* ========================
    ANALYSIS TAKEAWAY
======================== */

.takeaway-section-stream {
  display: grid;

  background: linear-gradient(
    180deg,
    #202020 0%,
    #353535 35%,
    #353535 55%,
    #202020 100%
  );
}

.takeaway-content-stream {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 90px 0 90px;
  margin-top: 80px;
  justify-items: center;
}

.takeaway-content-stream hr {
  grid-column: 1 / -1;
  border: none;
  height: 30px;
  margin-top: 100px;
  justify-self: stretch;
  background: linear-gradient(
    90deg,
    transparent,
    #676767,
    transparent
  )
}

.takeaway-card-stream {
  font-size: 1.2rem;
  max-width: 730px;
  justify-self: end;
}

.takeaway-card-title-stream h2 {
  font-size: 7rem;
  line-height: 0.95;
  margin: 0;
  color: #505050;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.takeaway-section-stream:hover h2 {
  color: #bebebe;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1710px) {
  .takeaway-ghost-stream h2 {
      font-size: 5.5rem;
      line-height: 0.9;
      margin-bottom: 15px;
    }
  
  .takeaway-card-stream {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1600px) {
  .takeaway-ghost-stream h2 {
      font-size: 5.5rem;
      line-height: 0.9;
      margin-bottom: 15px;
    }
  
  .takeaway-card-stream {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1300px) {

  .overview-section-stream {
    display: block;
    padding: 150px 30px 30px 30px;
  }

  .overview-title-stream {
    text-align: center;
  }
  /* Kill all complex grids */
  .spark-section-stream,
  .analysis-section-stream,
  .takeaway-section-stream {
    display: block;
    padding: 30px 30px;
  }

  /* Rows become normal blocks */
  .spark-content-stream,
  .analysis-content-stream,
  .takeaway-content-stream {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .analysis-content-stream,
  .takeaway-content-stream {
    margin-top: 0;
  }

  .spark-content-stream {
    margin-bottom: 30px;
  }

  .analysis-ghost-stream {
    order: -1;
    text-align: center;
    margin-bottom: 25px;
  }

  .analysis-text-stream {
    order: 1;
    text-align: center;
  }
  
  .spark-list-stream li, 
  .analysis-list-stream li {
    margin-left: 0;
    color: rgb(255, 129, 2);
    text-indent: 0;
  } 

  .spark-list-stream li::before, 
  .analysis-list-stream li::before {
    content: "";
    left: 0;
  } 

  .spark-text-stream,
  .analysis-card-stream,
  .analysis-explanation-stream,
  .analysis-explanation-chart-stream,
  .takeaway-card-stream {
    margin-left: auto;
    margin-right: auto;
    justify-self: unset;
    grid-column: unset;
    text-align: center;
  }

  .spark-ghost-stream {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
  }

  /* Text containers */
  .spark-text-stream,
  .analysis-explanation-stream,
  .analysis-explanation-chart-stream,
  .takeaway-card-stream {
    order: 1;
    text-align: center;
  }

  /* Images centered & fluid */
  .analysis-table-img-stream,
  .analysis-chart-img-stream {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
  }

  h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    white-space: normal;
    word-break: break-word;
  }

  .overview-content-stream, 
  .overview-card-stream, 
  .overview-btn-wrapper-stream {
    justify-self: center;
    text-align: center;
  }

  .overview-content-stream h2 {
    margin-left: 0;
  }
  p,
  .spark-card-stream,
  .analysis-card-stream {
    font-size: 1.05rem;
    line-height: 1.7;
  }

  /* Remove decorative dividers */
  .spark-content-stream hr,
  .analysis-content-stream hr,
  .takeaway-content-stream hr {
    display: none;
  }

  .analysis-table-img-stream {
    filter: grayscale(0%);
  }
}

@media screen and (max-width: 1024px) {

  /* =========================
     GLOBAL GRID STACKING
  ========================= */

  .overview-section-stream,
  .spark-section-stream,
  .analysis-section-stream,
  .takeaway-section-stream {
    min-height: auto;
  }

  .spark-content-stream,
  .analysis-content-stream,
  .takeaway-content-stream {
    grid-template-columns: 1fr;
    gap: 15px;
    align-items: center;
  }

  .spark-content-stream {
    margin-bottom: 0;
  }

  .analysis-section-stream {
    padding-bottom: 5px;
  }

  .takeaway-section-stream {
    padding-top: 5px;
  }

  /* =========================
     HEADING FIRST (ORDER)
  ========================= */

  .spark-ghost-stream,
  .analysis-card-title-stream,
  .takeaway-card-title-stream {
    order: -1;
    text-align: center;
    justify-self: center;
  }

  /* =========================
     HEADING SIZE REDUCTION
  ========================= */

  .spark-ghost-stream h2,
  .analysis-card-title-stream h2,
  .takeaway-card-title-stream h2 {
    font-size: 3.4rem;
    line-height: 1.1;
    margin-bottom: 15px;
  }

  /* =========================
     TEXT BLOCKS
  ========================= */

  .spark-text-stream,
  .analysis-card-stream,
  .analysis-explanation-table-stream,
  .analysis-explanation-chart-stream,
  .takeaway-card-stream {
    max-width: 100%;
    justify-self: start;
    margin-bottom: 24px;
  }

  .spark-card-stream,
  .analysis-card-stream,
  .analysis-explanation-table-stream,
  .analysis-explanation-chart-stream,
  .takeaway-card-stream {
    font-size: 1.05rem;
    line-height: 1.6;
  }

  /* =========================
     OVERVIEW SECTION
  ========================= */

  .overview-section-stream {
    grid-template-columns: 1fr;
    padding-top: var(--navbar-height);
  }

  .overview-left-stream {
    min-height: 40vh;
  }

  .overview-title-stream {
    font-size: 2rem;
    padding: 0 16px;
  }

  .overview-right-stream {
    padding: 30px 30px;
  }

  /* =========================
     ARCHITECTURE SECTION
  ========================= */

  .architecture-section-stream {
    padding: 60px 0;
    overflow-x: hidden;
  }

  .architecture-section-stream .heading-p-stream {
    font-size: 3rem;
    text-align: left;
    margin: 0 16px 20px 16px;
  }

  .architecture-canvas-stream {
    transform: scale(0.7);
    transform-origin: top left;
    width: 100%;
    height: auto;
  }

  /* =========================
     ANALYSIS IMAGES
  ========================= */

  .analysis-table-img-stream,
  .analysis-chart-img-stream {
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
  }

  .analysis-chart-img-stream:hover {
    border-radius: 30px;
}

  .analysis-section-stream {
    padding: 40px 24px;
  }

  .analysis-card-title-stream {
    margin-bottom: 0;
   }

  .analysis-card-title-stream h2 {
    justify-self: center;
    line-height: 0.9;
    margin-bottom: 5px;
   }
  
  .analysis-content-stream {
    margin-top: 0;
  }

  /* =========================
     TAKEAWAY SECTION
  ========================= */

  .takeaway-content-stream {
    padding: 0 24px;
  }

  /* =========================
     DIVIDERS
  ========================= */

  .spark-content-stream hr,
  .analysis-content-stream hr,
  .takeaway-content-stream hr {
    margin-top: 40px;
    height: 20px;
  }
}

@media screen and (max-width: 550px) {
  .spark-ghost-stream h2,
  .analysis-card-title-stream h2,
  .takeaway-card-title-stream h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 400px) {
  .spark-ghost-stream h2,
  .analysis-card-title-stream h2,
  .takeaway-card-title-stream h2 {
    font-size: 2.3rem;
    line-height: 1.1;
    margin-bottom: 15px;
  }
}
