/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.woff2') format('woff2'),
       url('./assets/font/CentraNo2-Medium.woff2') format('woff2'),
       url('./assets/font/CentraNo2-Book.woff2') format('woff2');
  font-weight: 700, 500, 400;
}

/************ Global Reset ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media screen and (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

/************ Utility ************/
p.success {
  color: green;
}

p.danger {
  color: red;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 15px;
  background-color: #fff;
  color: #000000;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease;
}

.back-to-top:hover {
  background-color: #ff8400;
  color: #fff;
}
